body{
	background-color: #61c1f3;
	font-family: "Helvetyica", "Ubuntu", "Arial", serif;
	font-size: 30px;
}

.container{
	width: 50%;
	margin: auto;
	background-color: #fcd0ee;
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px
}

.window{
	padding: 20px 0;
	margin: 0 30px;
	color: #555555;
	#box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}

#output p{
	color: #555555;
	padding-top: 15px;
	padding-bottom: 2px;
	padding-right: 7%;
	margin: 0 20px;
	font-size: 20px;
	border-bottom: 4px ridge #aaaaaa;
	border-color: white;
	text-align: right;
}

#actions p{
	text-align: center;
	margin: 0 30px;
	border-bottom: 2px solid #aaaaaa;
	color: #aaaaaa;
	font-size: 20px;
	font-style: oblique;
}

input{
	padding: 10px 20px;
	box-sizing: border-box;
	border: 0;
	background: #eceded;
	display: block;
	width: 100%;
	font-size: 20px;
}

button{
	background: #0094f9;
	color: black;
	font-size: 20px;
	border: 0;
	padding: 10px 0;
	width: 100%;
}

@media screen and (max-device-width: 800px){
	body{
		font-size: 60px;
	}

	.container{
		width: 75%;
		margin-top: 50px;
		padding: 50px;
	}

	#output p{
		font-size: 40px;
		margin: 0 20px;
	}

	#actions p{
		font-size: 40px;
		margin-top: 10px;
	}

	input{
		font-size: 40px;
	}

	button{
		font-size: 40px;
	}

}

@media screen and (max-width: 800px){
	body{
		font-size: 40px;
	}

	.container{
		width: 60%;
		margin-top: 50px;
		padding: 50px;
	}

	#output p{
		font-size: 20px;
		margin-top: 10px;
	}

	#actions p{
		font-size: 20px;
		margin-top: 10px;
	}

	input{
		font-size: 20px;
	}

	button{
		font-size: 20px;
	}

}

button: active{
	top: 2px;
	left: 2px;
}
